[MASTER]
ignore =
    typings

[MESSAGES CONTROL]
disable =
    fixme,
    line-too-long,
    logging-fstring-interpolation,

[FORMAT]
good-names =
    i,j,k,x,y,z,a,b,dx,dy,dz,x0,y0,z0,p,t,ax,c,f,ds,vr,xx,yy,zz,mu,gs

[DESIGN]
max-locals = 20
