[MASTER]
ignore =
    typings

[MESSAGES CONTROL]
disable =
    fixme,  ; Makes TODO lines not flag the CI
    line-too-long,  ; Line length is being entirely managed by black

[FORMAT]
good-names =
    i,j,k,x,y,z,a,b,dx,dy,x0,y0,p,t,ax,c,f,ds,vr,xx,yy,zz

[DESIGN]
max-locals = 25
max-args = 8
